*{
    margin: 0;
    border: 0;
}

.top{
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(8, 100px);
    gap: 5px;
}

.black{
    background: brown;
}

.white{
    background: burlywood;
}
